
body {
    color: #282425;
    background-color:#FFEFD5;
    line-height: 1.5;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    max-width: 65rem;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    text-align: right;
    color:white;
    font-weight: bold;
    margin: 0;


}

h2 {
    font-size: 35px;
    color:#A0522D ;
    font-style: normal;
    text-align: center;
    margin-top: 0;
}
a {
    font-style: italic;
    color: red;
}

.kontakt {
    background-color:#FFE4C4 ;
    
}
.paticka {
    background-color: #282425;
    color: white;
    text-align: center;
    padding: 10px 0;
    
}
.foto-ja {
    width: 300px;
    border: 2px dotted #A0522D;
    border-radius: 50%;
    float: left;
    margin: 0 30px 30px 0;
}
section {
    padding: 50px 10%;
    overflow: auto;
    background-color: rgb(238, 186, 171);
    border: 2px dashed #A0522D;
}
.hlavicka {
    padding: 400px 30px;
    background-image: url(Praha.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:#A0522D;

}
.menu li{
    display: inline-block;
}
.menu a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
}
.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: tomato;
    border: 2px solid #A0522D;
    border-radius: 1rem 3rem;
}