body{
    background-color: rgb(186, 198, 221);
    font-family: sans-serif;
    text-align: center;
    max-width: 30rem;
    margin: 0 auto;
}
h1{
    font-size: 3rem;
    margin-top: 0;
}
h2{
    font-size: 2rem;
    text-align: center;
}
header{
    padding: 2rem; 3rem;
}
section{
    display: flow-root;
    border-bottom: 2px dashed hsla(128, 79%, 56%, 0.6);
    padding: 1rem;
    background-color:hsla(130, 60%, 20%, 0.6);
    margin-left: -1rem;
    margin-right: -1rem;
}
.hlavicka {
    background-image: url(obrazek_kontakty.png);
    min-height: 200px ;
    padding: 2rem 3rem;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
    margin-bottom: 2rem;
} 
a:hover,
a :focus
a :active{
    background-color: rgb(38, 209, 81);
}